<!DOCTYPE html>
<html>
  <head>
    <title>Event Management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="center container">
        <ul>
          <li>
            <a href="/">Event Management</a>
          </li>
        </ul>
        <ul class="flex link">
          <li>
            <a href="/event">All Events</a>
          </li>
          <li>
            <a href="/event/new">Add event</a>
          </li>
        </ul>
    </header>
    <main>
      <section class="hero">
        <div class="container">
          <h1>Welcome to Event App</h1>
          <p>Manage All Your Events </p>
        </div>
      </section>
    </main>
  </body>
</html>
