/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}
.center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
}
.container{
  max-width: 1100px;
  padding: 2rem;
}

/* header */
header {
  padding: 1rem 0;
  background-color: black;
  font-size: 2rem;
}
header a{
  color: white;
}
.link li{
  padding-left: 2rem;
}
.hero{
  background-color: aqua;
  height: 78vh;
}
.hero h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  padding-top: 10rem;
  padding-bottom: 2rem;
}
.hero p {
  padding-top: 2rem;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}
/* Add Event form */

.form {
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
}
.form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem 0;
  border: 1px solid darkgray;
  outline: none;
}
.form .date {
  width: 100%;
}
.form .submit{
  background-color: tomato;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
}
.allevent{
  flex-wrap:wrap;
}
.event {
  width: 80%;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  font-style: italic;
  margin-top: 2rem;
  border: 1px solid rgb(158, 157, 157);
  padding: 1rem;
  border-radius: 1rem;
  background-color:aqua;
}
button {
  margin-top: 0.5rem;
  background-color: rgb(144, 202, 144);
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
}
.event p {
  font-size: 1.1rem;
  padding-top: 0.5rem;
}
.eventdetail {
  width: 100%;
  background-color: aqua;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  font-weight: 800;
  font-style: italic;
}
.eventdetail h2 {
  font-size: 1.3rem;
}
.eventdetail p {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}
.remark {
  margin-top: 2rem;
}
.delete button {
  background-color: red;
}
.remark textarea {
  width: 60%;
  padding: 1rem;
  background-color: aqua;
  border-radius: 0.5rem;
}
.remark input {
  background-color: tomato;
  border: none;
  outline: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.showremark h3 {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}
.eachremark {
  background-color: aqua;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.eachremark p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}


